{% extends 'base.html' %} 

{% block body %}

<div class="row">

<div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">
        <img src="/static/img/jamie-hamel-smith-1200-v2.jpg" class="register_img">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-5">
        <h1>Forgot Password</h1>
        
        <form action="/forgot_password" id="forgot_password_form" method="POST">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required><br>
            <label for="confirm_password">Confirm Password:</label>
            <input type="confirm_password " id="confirm_password" name="confirm_password" maxlength="30"><br>
            <input type="submit" value="register">  
        </form>
    </div>

</div>

{% endblock %}